{% extends "template.html" %}
{% block content %}
<!-- Tabs Center -->
<ul class="tabs center">
    <li><a href="#table">Classement {{epreuve.nom|e}}</a></li>
</ul>

<!-- Table sortable -->
<div id="table" class="tab-content">
    <!-- Select -->
    <label for="select_serie">Selectionnez la série</label>
    <select id="select_serie">
        {% for i in range(1,nb_serie+1) %}
        <option value="{{ i|e }}">{{ i|e }}</option>
        {% endfor %}
    </select>
    <table class="striped tight sortable" id="myTable">
        <thead>
        <tr>
            <th>Rang</th>
            <th>Classé</th>
            <th>Numéro de départ</th>
            <th>Nom monture</th>
            <th>Nom cavalier</th>
            <th>Points initial</th>
            <th>Temps initial</th>
            <th>Points barrage</th>
            <th>Temps barrage</th>
            <th>Points barrage 2</th>
            <th>Temps barrage 2</th>
        </tr>
        </thead>

        <tbody id="entries" class="classement">

        </tbody>
    </table>
</div>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

</script>
<script type=text/javascript>
function updateClassement()
  {
  var cur_serie = $('#select_serie :selected').text();
     $.getJSON(                            //Get some values from the server
        $SCRIPT_ROOT + '/getClassement',      // At this URL
        {},                                // With no extra parameters
        function(data)                     // And when you get a response
        {

var items = [];
            json = data.participants
            $.each( json, function( key, val ) {
            if(json[key].etat_init != "undef"){
                json[key].temps_init = json[key].points_init = json[key].etat_init
            }
            if(json[key].etat_barr != "undef"){
                json[key].temps_barr = json[key].points_barr = json[key].etat_barr
            }
            if(json[key].etat_barr2 != "undef"){
                json[key].temps_barr2 = json[key].points_barr2 = json[key].etat_barr2
            }
            if(json[key].serie == cur_serie){
            if(json[key].cl){
    items.push( '<tr>	<td>'+json[key].rang+'</td>	<td><button class="small green" disabled="disabled"><i class="icon-ok-sign"></i></button></td>  </td><td>'+ json[key].num_depart+'</td><td>'+ json[key].nom_monture+'</td><td>'+ json[key].nom_cavalier+'</td><td>'+ json[key].points_init+'</td><td>'+ json[key].temps_init+'</td><td>'+ json[key].points_barr+'</td><td>'+ json[key].temps_barr+'</td><td>'+ json[key].points_barr2+'</td><td>'+ json[key].temps_barr2+'</td></tr>');
                }else{
    items.push( '<tr>	<td>'+json[key].rang+'</td>	<td><button class="small red" disabled="disabled"><i class=" icon-remove-sign"></i></button></td>  </td><td>'+ json[key].num_depart+'</td><td>'+ json[key].nom_monture+'</td><td>'+ json[key].nom_cavalier+'</td><td>'+ json[key].points_init+'</td><td>'+ json[key].temps_init+'</td><td>'+ json[key].points_barr+'</td><td>'+ json[key].temps_barr+'</td><td>'+ json[key].points_barr2+'</td><td>'+ json[key].temps_barr2+'</td></tr>');

                }
                }
  });


$('.classement').empty();
  $('#myTable > tbody:last').append(items);
        });
  }
setInterval(updateClassement,                               //Periodically,
  50000);                                    // And do it every 50000ms


updateClassement();

$('#select_serie').change(function(){
updateClassement();
})
</script>

{% endblock %}